﻿@using ReDoMusic.Core.Domain.Entities;
@model Instrument

<head>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
</head>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image-frame">
                <img src="@Model.PictureUrl" alt="Product Image" class="img-fluid">
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
            <h2 class="my-3" style="text-align:center;">@Model.Name</h2>
            <p><b>Description: </b>@Model.Description</p>
            <p><b>Price: </b>$@Model.Price</p>
            <button class="btn btn-outline-success" style="display: block; margin: 0 auto;">
                Buy Now
            </button>
        </div>
    </div>
</div>

